@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');


.App {
  min-height: 100vh;
  display: flex;
  background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),url(./assets/bg2.png);
  background-position: center;
  background-size: cover;
}